@import './variable';

a {
    color: $green !important;
    text-decoration: none;
    &:hover {
        color: #2d7c58;
        text-decoration: underline;
    }
    &:active {
        color: #2d7c58;
    }
}
