// Scrollbar
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #369a6d;
}
::-webkit-scrollbar-thumb:active {
    background-color: #2c7a57;
}

// Selection
::-moz-selection {
    color: $dark-blue;
    background: $green;
}

::selection {
    color: $dark-blue;
    background: $green;
}
