@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import './styles/nprogress';
@import './styles/webkit';

body {
    background: #35495e;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
    h1,
    h2,
    h3,
    p,
    ul {
        color: #fff;
    }
}
